$color-first-example: #E0F2FE;
$color-second-example: #FEF3C7;
$color-third-example: #DCFCE7;
$color-forth-example: #FCE7F3;

$color-section-background: rgba(255, 255, 255, 0.8);
$color-section-shadow: rgba(0, 0, 0, 0.2);
